.home-page {
  background-color: #fff;
  font-family: 'Segoe UI', sans-serif;
   
  align-items: center;
  justify-content: center;
}

.region-filters button {
  color: #000;
  margin-left: 8px;
  font-weight: 500;
  text-decoration: none;
}

.loadeMore{
    border-radius: 0px !important;
    border: solid #3E3E3E 2px;
    height: 48px;
}

.custom-border {
  border: 1px solid #3D3D3D !important;
  border-radius: 0%;
}

.slider-item .card{
    border-radius: 0px;
}

.home-text{
    font-size: 35px;
    color: #3D3D3D;
    font-weight: 600;
}

.slider-item .card {
  height: 240px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-img-top {
  height: 140px;
  object-fit: cover;
}

.country-list .card {
  border: 1px solid #ddd;
  transition: transform 0.2s ease;
}

.country-list .card:hover {
  transform: scale(1.02);
}

footer i {
  font-size: 1.5rem;
  cursor: pointer;
  color: #555;
}

footer p {
  margin-bottom: 4px;
}

.region-filters .active-filter {
  font-weight: bold;
  color: #000;
  text-decoration: underline;
}





.navbar {
  background: transparent !important;
  box-shadow: none;
}